* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: linear-gradient(to right, #e599f7, #ae3ec9);
  height: 100vh;
}

.btn {
  position: absolute;
  top: 40%;
  left: 40%;

  background: linear-gradient(to right, #ff8787, #099268);
  border: none;
  outline: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding: 1.2rem 2.4rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  color: #eee;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  animation: moveBtn 1s ease-in-out;
  -webkit-animation: moveBtn 1s ea;
  text-align: center;
}

.btn:active {
  transform: translateY(1rem);
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
}

@keyframes moveBtn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
  }

  100% {
    opacity: 1;
  }
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.close-modal {
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  right: 1.1rem;
  align-self: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.hidden {
  display: none;
}
